﻿@{
    ViewData["Title"] = "Новая информация о соревновании";
}

<div class="text-center">
    <h1 class="display-4">Новая информация о соревновании среди спортивных секций</h1>
</div>

<form method="post" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="codeInput" class="form-label">Шифр</label>
        <input type="text" class="form-control" name="code" id="codeInput" placeholder="ABC123" maxlength="48" required />
        <div class="valid-feedback">
            Всё хорошо!
        </div>
        <div class="invalid-feedback">
            Пожалуйста введите правильный шифр.
        </div>
    </div>
    <div class="mb-3">
        <label for="dateInput" class="form-label">Дата</label>
        <input type="date" class="form-control" name="date" id="dateInput" value="1999-01-01" />
        <div class="valid-feedback">
            Всё хорошо!
        </div>
        <div class="invalid-feedback">
            Пожалуйста введите правильную дату.
        </div>
    </div>
    <div class="mb-3">
        <label for="winCountInput" class="form-label">Победы</label>
        <input type="number" class="form-control" name="winCount" min="0" id="winCountInput" placeholder="42" max="4294967295" required />
        <div class="valid-feedback">
            Всё хорошо!
        </div>
        <div class="invalid-feedback">
            Пожалуйста введите правильное количество побед.
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary">Записать информацию о соревновании</button>
</form>
<script src="~/js/validation.js"></script>