﻿@using CourseWork.Core.Dtos
@model IReadOnlyCollection<CompetitionResultsListItemDto>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="dropend pb-1 mt-5">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" id="dropdownBtn1" data-bs-toggle="dropdown" aria-expanded="false">
            Импорт/Экспорт
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownBtn1">
            <form asp-action="Import" asp-controller="Home" method="post" enctype="multipart/form-data">
                <li>
                    <label for="fileInput" class="dropdown-item border-top border-bottom form-control ">Импорт</label>
                    <input type="file" class="d-none" onchange="form.submit()" id="fileInput" name="uploadFile" />
                </li>
            </form>
            <form asp-action="Export" asp-controller="Home" method="get">
                <li>
                    <input type="submit" class="dropdown-item border-top border-bottom" value="Экспорт" />
                </li>
            </form>
        </ul>
    </div>
</div>

<div class="pb-3 d-inline-block">
    <a asp-action="Create" class="btn btn-outline-primary">Новая запись</a>
</div>


<div>
    <form method="get">
        <div class="d-inline-block">
            <label for="sortType">По возрастанию</label>
            <input type="checkbox" name="sortType" checked="checked" value="true" class="form-check-input" />
            <select name="sortAttribute" class="form-select mb-2">
                <option value="Id">Id</option>
                <option value="WinCount">Победы</option>
            </select>
        </div>

        <div class="d-inline-block float-end pt-2">
            <div class="input-group">
                <input type="text" class="form-control" name="filterString" placeholder="Шифр..." aria-label="Code" , aria-describedby="button1" />
                <span class="input-group-text" id="button1">
                    <input type="submit" class="btn btn-primary" value="Отправить" />
                </span>
            </div>
        </div>
    </form>
</div>

<form asp-action="DeleteIf" asp-controller="Home" method="post">
    <div class="d-inline-block float-end pt-3 pe-2 btn-group dropdown">
        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownBtn2">
            Функции
        </button>
        <ul class="dropdown-menu p-3" aria-labelledby="dropdownBtn2">
            <li><span class="badge bg-primary text-wrap fs-6">Удалить по условию: количество побед меньше заданного</span></li>
            <li><hr class="dropdown-divider" /></li>
            <li><input type="number" class="form-control dropdown-item" name="deleteCondition" /></li>
        </ul>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Шифр</th>
            <th scope="col">Дата</th>
            <th scope="col">Победы</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var dto in Model)
        {
            <tr>
                <td>@(dto.Id)</td>
                <td>@(dto.Code)</td>
                <td>@(dto.Date.ToShortDateString())</td>
                <td>@(dto.WinCount)</td>
                <td><a asp-action="Edit" asp-route-id="@(dto.Id)" class="btn btn-outline-info">Редактировать</a></td>
                <td><a asp-action="Delete" asp-route-id="@(dto.Id)" class="btn btn-outline-danger">Удалить</a></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Всего: @Model.Count()</td>
            <td>—</td>
            <td>—</td>
            <td>@Model.Sum(result => result.WinCount)</td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>
